html(lang="en")
    head
        meta(charset="utf-8")
        title Picture Bulk Downloader
        link(rel="stylesheet", href="styles/popup.css")
        <!--todo:normalize.css,foundation.css-->
    body(ng-app="app")
        h1 Picture Bulk Downloader
